<section>
    <div class="container text-center" style="padding-top: 3%;">
        <h5>titulo</h5>
          <div class="row">
          <div class="col">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, sint earum! Perferendis odio doloremque est vel! Perferendis adipisci fugiat architecto commodi error sequi ex pariatur minima recusandae, eligendi hic saepe?
          </div>
          </div>
          <a style="align-items: center;" href="#" class="btn btn-primary">Go somewhere</a>
      </div>
</section>

<section style="width: 90%; padding: 3%;">

   <div class="row" style="padding-top: 5%;">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
   </div>
   <div class="row" style="padding-top: 5%;">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
   </div>
   <div class="row" style="padding-top: 5%;">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/IMG/indianbike.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quidem tenetur aperiam sapiente ipsa hic corrupti, dolor rem dolores nesciunt asperiores blanditiis eaque cumque inventore suscipit illum voluptatum tempore facilis.</p>
                </div>
            </div>
        </div>
   </div>

</section>